body {
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat';
    margin: 50px 0 0 0;
}

#new-goose {
    width: 150px;
    padding: 5px;
    margin: 0 0 20px 0;
}

#add-btn {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

#alert {
    height: 30px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    color: red;
    font-size: 14px;
}

#goose-list {
    margin: 0 auto;
    width: 50%;
}

.goose-data, .goose-modify {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.goose-item ul li {
    list-style: none;
    display: inline;
}

.goose-modify label {
    display: inline;
}

.goose-modify input, .goose-item button {
    width: 100px;
}

.goose-name {
    cursor: pointer;
}

.goose-modify {
    display: none;
}

#goose0 {
    color: red;
}

#goose1 {
    color: blue;
}

#goose2 {
    color: yellow;
}