body {
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat';
    margin: 50px 0 0 0;
}

#add-goose button {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

#add-goose input {
    width: 150px;
    padding: 5px;
    margin: 0 0 20px 0;
}

#add-goose label {
    height: 30px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    color: red;
    font-size: 14px;
}

#goose-list {
    margin: 0 auto;
    width: 50%;
}

#goose-item ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#goose-item ul li {
    list-style: none;
    display: inline;
}

#goose-item label {
    display: inline;
}

#goose-item input {
    width: 100px;
}

#goose-item button {
    width: 100px;
}

#goose-item .modify {
    display: none;
}

#goose-item .name {
    cursor: pointer;
}

#goose-list #hide {
    display: none;
}